  
<h1 style='background-color: #6495ED; font-family:newtimeroman; font-size:300%; text-align:center; border-radius: 15px 50px;' > WOMEN INFERTILITY</h1>

## IMPORTING LIBRARIES

In [1]:
import pandas as pd  #IMPORTING PANDAS
import numpy as np   #IMPORTING NUMPY
import matplotlib.pyplot as plt#IMPORTING MATHPLOT LIB FOR DATAVISULIZATION
%matplotlib inline
import seaborn as sns              #IMPORTING SEABORN FOR DATAVISULIZATION

## Load Dataset

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
without_infertility= 'PCOS_data_without_infertility.xlsx'


df1 = pd.read_csv('PCOS_infertility.csv')
df2 = pd.read_excel(without_infertility, sheet_name='Full_new')

In [4]:
df1.head()

,Sl. No,Patient File No.,PCOS (Y/N),I beta-HCG(mIU/mL),II beta-HCG(mIU/mL),AMH(ng/mL)
0,1,10001,0,1.99,1.99,2.07
1,2,10002,0,60.80,1.99,1.53
2,3,10003,1,494.08,494.08,6.63
3,4,10004,0,1.99,1.99,1.22
4,5,10005,0,801.45,801.45,2.26

In [5]:
df2

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44
0,1.0,1.0,0.0,28.0,44.6,152.000,19.300000,15.0,78.0,22.0,...,1.0,0.0,110.0,80.0,3.0,3.0,18.0,18.0,8.5,NaN
1,2.0,2.0,0.0,36.0,65.0,161.500,24.921163,15.0,74.0,20.0,...,0.0,0.0,120.0,70.0,3.0,5.0,15.0,14.0,3.7,NaN
2,3.0,3.0,1.0,33.0,68.8,165.000,25.270891,11.0,72.0,18.0,...,1.0,0.0,120.0,80.0,13.0,15.0,18.0,20.0,10.0,NaN
3,4.0,4.0,0.0,37.0,65.0,148.000,29.674945,13.0,72.0,20.0,...,0.0,0.0,120.0,70.0,2.0,2.0,15.0,14.0,7.5,NaN
4,5.0,5.0,0.0,25.0,52.0,161.000,20.060954,11.0,72.0,18.0,...,0.0,0.0,120.0,80.0,3.0,4.0,16.0,14.0,7.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,537.0,537.0,0.0,35.0,50.0,164.592,18.500000,17.0,72.0,16.0,...,0.0,0.0,110.0,70.0,1.0,0.0,17.5,10.0,6.7,NaN
537,538.0,538.0,0.0,30.0,63.2,158.000,25.300000,15.0,72.0,18.0,...,0.0,0.0,110.0,70.0,9.0,7.0,19.0,18.0,8.2,NaN
538,539.0,539.0,0.0,36.0,54.0,152.000,23.400000,13.0,74.0,20.0,...,0.0,0.0,110.0,80.0,1.0,0.0,18.0,9.0,7.3,NaN
539,540.0,540.0,0.0,27.0,50.0,150.000,22.200000,15.0,74.0,20.0,...,0.0,0.0,110.0,70.0,7.0,6.0,18.0,16.0,11.5,NaN
540,541.0,541.0,1.0,23.0,82.0,165.000,30.100000,13.0,80.0,20.0,...,1.0,0.0,120.0,70.0,9.0,10.0,19.0,18.0,6.9,NaN

## Data preprocessing

In [6]:
df2.columns

Index(['Sl. No', 'Patient File No.', 'PCOS (Y/N)', ' Age (yrs)', 'Weight (Kg)',
       'Height(Cm) ', 'BMI', 'Blood Group', 'Pulse rate(bpm) ',
       'RR (breaths/min)', 'Hb(g/dl)', 'Cycle(R/I)', 'Cycle length(days)',
       'Marraige Status (Yrs)', 'Pregnant(Y/N)', 'No. of aborptions',
       '  I   beta-HCG(mIU/mL)', 'II    beta-HCG(mIU/mL)', 'FSH(mIU/mL)',
       'LH(mIU/mL)', 'FSH/LH', 'Hip(inch)', 'Waist(inch)', 'Waist:Hip Ratio',
       'TSH (mIU/L)', 'AMH(ng/mL)', 'PRL(ng/mL)', 'Vit D3 (ng/mL)',
       'PRG(ng/mL)', 'RBS(mg/dl)', 'Weight gain(Y/N)', 'hair growth(Y/N)',
       'Skin darkening (Y/N)', 'Hair loss(Y/N)', 'Pimples(Y/N)',
       'Fast food (Y/N)', 'Reg.Exercise(Y/N)', 'BP _Systolic (mmHg)',
       'BP _Diastolic (mmHg)', 'Follicle No. (L)', 'Follicle No. (R)',
       'Avg. F size (L) (mm)', 'Avg. F size (R) (mm)', 'Endometrium (mm)',
       'Unnamed: 44'],
      dtype='object')

In [7]:
df2.shape

(541, 45)

In [8]:
df1.columns

Index(['Sl. No', 'Patient File No.', 'PCOS (Y/N)', '  I   beta-HCG(mIU/mL)',
       'II    beta-HCG(mIU/mL)', 'AMH(ng/mL)'],
      dtype='object')

In [9]:
df1.shape

(541, 6)

## merge datasets

In [10]:
data = pd.merge(df2,df1, on='Patient File No.', suffixes={'','_y'},how='left')

In [11]:
data

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44,Sl. No_y,PCOS (Y/N)_y,I beta-HCG(mIU/mL)_y,II beta-HCG(mIU/mL)_y,AMH(ng/mL)_y
0,1.0,1.0,0.0,28.0,44.6,152.000,19.300000,15.0,78.0,22.0,...,3.0,18.0,18.0,8.5,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2.0,0.0,36.0,65.0,161.500,24.921163,15.0,74.0,20.0,...,5.0,15.0,14.0,3.7,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,3.0,1.0,33.0,68.8,165.000,25.270891,11.0,72.0,18.0,...,15.0,18.0,20.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,4.0,0.0,37.0,65.0,148.000,29.674945,13.0,72.0,20.0,...,2.0,15.0,14.0,7.5,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,5.0,0.0,25.0,52.0,161.000,20.060954,11.0,72.0,18.0,...,4.0,16.0,14.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,537.0,537.0,0.0,35.0,50.0,164.592,18.500000,17.0,72.0,16.0,...,0.0,17.5,10.0,6.7,NaN,NaN,NaN,NaN,NaN,NaN
537,538.0,538.0,0.0,30.0,63.2,158.000,25.300000,15.0,72.0,18.0,...,7.0,19.0,18.0,8.2,NaN,NaN,NaN,NaN,NaN,NaN
538,539.0,539.0,0.0,36.0,54.0,152.000,23.400000,13.0,74.0,20.0,...,0.0,18.0,9.0,7.3,NaN,NaN,NaN,NaN,NaN,NaN
539,540.0,540.0,0.0,27.0,50.0,150.000,22.200000,15.0,74.0,20.0,...,6.0,18.0,16.0,11.5,NaN,NaN,NaN,NaN,NaN,NaN
540,541.0,541.0,1.0,23.0,82.0,165.000,30.100000,13.0,80.0,20.0,...,10.0,19.0,18.0,6.9,NaN,NaN,NaN,NaN,NaN,NaN

### dropping the repeatative feature

In [12]:
data.drop(['Unnamed: 44', 'Sl. No_y', 'PCOS (Y/N)_y', '  I   beta-HCG(mIU/mL)_y','II    beta-HCG(mIU/mL)_y', 'AMH(ng/mL)_y'], axis=1, inplace= True)

In [13]:
data.shape

(541, 44)

In [14]:
data.columns

Index(['Sl. No', 'Patient File No.', 'PCOS (Y/N)', ' Age (yrs)', 'Weight (Kg)',
       'Height(Cm) ', 'BMI', 'Blood Group', 'Pulse rate(bpm) ',
       'RR (breaths/min)', 'Hb(g/dl)', 'Cycle(R/I)', 'Cycle length(days)',
       'Marraige Status (Yrs)', 'Pregnant(Y/N)', 'No. of aborptions',
       '  I   beta-HCG(mIU/mL)', 'II    beta-HCG(mIU/mL)', 'FSH(mIU/mL)',
       'LH(mIU/mL)', 'FSH/LH', 'Hip(inch)', 'Waist(inch)', 'Waist:Hip Ratio',
       'TSH (mIU/L)', 'AMH(ng/mL)', 'PRL(ng/mL)', 'Vit D3 (ng/mL)',
       'PRG(ng/mL)', 'RBS(mg/dl)', 'Weight gain(Y/N)', 'hair growth(Y/N)',
       'Skin darkening (Y/N)', 'Hair loss(Y/N)', 'Pimples(Y/N)',
       'Fast food (Y/N)', 'Reg.Exercise(Y/N)', 'BP _Systolic (mmHg)',
       'BP _Diastolic (mmHg)', 'Follicle No. (L)', 'Follicle No. (R)',
       'Avg. F size (L) (mm)', 'Avg. F size (R) (mm)', 'Endometrium (mm)'],
      dtype='object')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541 entries, 0 to 540
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    float64
 1   Patient File No.        541 non-null    float64
 2   PCOS (Y/N)              541 non-null    float64
 3    Age (yrs)              541 non-null    float64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    float64
 8   Pulse rate(bpm)         541 non-null    float64
 9   RR (breaths/min)        541 non-null    float64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    float64
 12  Cycle length(days)      541 non-null    float64
 13  Marraige Status (Yrs)   540 non-null    float64
 14  Pregnant(Y/N)           541 non-null    float64
 15  No. of aborptions       541 non-null    float64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    float64
 22  Waist(inch)             541 non-null    float64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    float64
 31  hair growth(Y/N)        541 non-null    float64
 32  Skin darkening (Y/N)    541 non-null    float64
 33  Hair loss(Y/N)          541 non-null    float64
 34  Pimples(Y/N)            541 non-null    float64
 35  Fast food (Y/N)         540 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    float64
 37  BP _Systolic (mmHg)     541 non-null    float64
 38  BP _Diastolic (mmHg)    541 non-null    float64
 39  Follicle No. (L)        541 non-null    float64
 40  Follicle No. (R)        541 non-null    float64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
dtypes: float64(42), object(2)
memory usage: 190.2+ KB

In [16]:
data["AMH(ng/mL)"]= pd.to_numeric(data["AMH(ng/mL)"], errors='coerce')
data['II    beta-HCG(mIU/mL)']= pd.to_numeric(data['II    beta-HCG(mIU/mL)'], errors='coerce') #converting one datatype to another

## checking for null value

In [17]:
data.isnull().sum()

Sl. No                    0
Patient File No.          0
PCOS (Y/N)                0
 Age (yrs)                0
Weight (Kg)               0
Height(Cm)                0
BMI                       0
Blood Group               0
Pulse rate(bpm)           0
RR (breaths/min)          0
Hb(g/dl)                  0
Cycle(R/I)                0
Cycle length(days)        0
Marraige Status (Yrs)     1
Pregnant(Y/N)             0
No. of aborptions         0
  I   beta-HCG(mIU/mL)    0
II    beta-HCG(mIU/mL)    1
FSH(mIU/mL)               0
LH(mIU/mL)                0
FSH/LH                    0
Hip(inch)                 0
Waist(inch)               0
Waist:Hip Ratio           0
TSH (mIU/L)               0
AMH(ng/mL)                1
PRL(ng/mL)                0
Vit D3 (ng/mL)            0
PRG(ng/mL)                0
RBS(mg/dl)                0
Weight gain(Y/N)          0
hair growth(Y/N)          0
Skin darkening (Y/N)      0
Hair loss(Y/N)            0
Pimples(Y/N)              0
Fast food (Y/N)           1
Reg.Exercise(Y/N)         0
BP _Systolic (mmHg)       0
BP _Diastolic (mmHg)      0
Follicle No. (L)          0
Follicle No. (R)          0
Avg. F size (L) (mm)      0
Avg. F size (R) (mm)      0
Endometrium (mm)          0
dtype: int64

In [18]:
data.isnull().sum().sum()

4

In [19]:
print("no of null values------------->",data.isnull().sum().sum())

no of null values-------------> 4

In [20]:
## filling the null values with FILLNA method

In [21]:
data['Marraige Status (Yrs)']= data['Marraige Status (Yrs)'].fillna(data['Marraige Status (Yrs)'].mode()[0])
data['Fast food (Y/N)']= data['Fast food (Y/N)'].fillna(data['Fast food (Y/N)'].mode()[0])
data['AMH(ng/mL)']= data['AMH(ng/mL)'].fillna(data['AMH(ng/mL)'].mode()[0])
data['II    beta-HCG(mIU/mL)']= data['II    beta-HCG(mIU/mL)'].fillna(data['II    beta-HCG(mIU/mL)'].mode()[0])

In [22]:
print("no of null values---after filling null values with fillna---------->",data.isnull().sum().sum())

no of null values---after filling null values with fillna----------> 0

## EDA

In [ ]:
plt.figure(figsize=(30,30))
sns.heatmap(data.corr(), cmap='coolwarm', annot = True)
plt.show()

In [ ]:
data['PCOS (Y/N)'].value_counts()

In [ ]:
data.columns

In [ ]:
class_occur = data['PCOS (Y/N)'].value_counts()
class_names = ['No','Yes']
fig, ax = plt.subplots()
ax.pie(class_occur, labels=class_names, autopct='%1.2f%%',
        shadow=True, startangle=0, counterclock=False)

ax.set_title('Class distribution')
plt.show()
print("# samples associated with PCOS N: {}".format(class_occur[0]))
print("# samples associated with PCOS Y: {}".format(class_occur[1]))

### Spliting the dataset Training and Testing

In [ ]:
data

In [ ]:
data = data.sample(frac=1).reset_index(drop=True)

In [ ]:

Y= data['PCOS (Y/N)'] # target one
X= data.drop('PCOS (Y/N)', axis=1)
import re
X = X.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x)) #to change the column headings
X

In [ ]:
X_train, X_test, Y_train, Y_test = X[:400], X[400:], Y[:400], Y[400:]

In [ ]:
# SMOTE Algorithm

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X_train, Y_train = sm.fit_resample(X_train, Y_train)

# Applying Models

In [ ]:
!pip install lightgbm

In [ ]:
from sklearn.model_selection import cross_val_score
import random, math
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import chi2, SelectKBest
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score

# LoGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(X_train,Y_train)

Y_pred_lr = lr.predict(X_test)

In [ ]:
score_lr = round(accuracy_score(Y_pred_lr,Y_test)*100,2)

print("Logistic Regression accuracy: "+str(score_lr)+" %")

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report 
cm = confusion_matrix(Y_test, Y_pred_lr) 
print("Confusion Matrix is:\n",cm)

conf_matrix = pd.DataFrame(data = cm,  
                           columns = ['Predicted:0', 'Predicted:1'],  
                           index =['Actual:0', 'Actual:1']) 
plt.figure(figsize = (10, 6)) 
plt.title("confusion matrix for LoR")
sns.heatmap(conf_matrix, annot = True, fmt = 'd') 
plt.show()

# GAUSSIAN NB

In [ ]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(X_train,Y_train)

Y_pred_nb = nb.predict(X_test)

In [ ]:
Y_pred_nb.shape

In [ ]:
score_nb = round(accuracy_score(Y_pred_nb,Y_test)*100,2)

print("Naive Bayes accuracy: "+str(score_nb)+" %")

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report 
cm = confusion_matrix(Y_test, Y_pred_nb) 
print("Confusion Matrix is:\n",cm)

conf_matrix = pd.DataFrame(data = cm,  
                           columns = ['Predicted:0', 'Predicted:1'],  
                           index =['Actual:0', 'Actual:1']) 
plt.figure(figsize = (10, 6)) 
plt.title("confusion matrix for NB")
sns.heatmap(conf_matrix, annot = True, fmt = 'd') 
plt.show()

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,Y_train)
Y_pred_knn=knn.predict(X_test)

In [ ]:
Y_pred_knn.shape

In [ ]:
score_knn = round(accuracy_score(Y_pred_knn,Y_test)*100,2)

print("KNN accuracy: "+str(round(accuracy_score(Y_pred_knn,Y_test)*100,2))+" %")

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report 
cm = confusion_matrix(Y_test, Y_pred_knn) 
print("Confusion Matrix is:\n",cm)

conf_matrix = pd.DataFrame(data = cm,  
                           columns = ['Predicted:0', 'Predicted:1'],  
                           index =['Actual:0', 'Actual:1']) 
plt.figure(figsize = (10, 6)) 
plt.title("confusion matrix for KNN")
sns.heatmap(conf_matrix, annot = True, fmt = 'd') 
plt.show()

# DECISION TREE

In [ ]:
from sklearn.tree import DecisionTreeClassifier

max_accuracy = 0


for x in range(200):
    dt = DecisionTreeClassifier(random_state=x)
    dt.fit(X_train,Y_train)
    Y_pred_dt = dt.predict(X_test)
    current_accuracy = round(accuracy_score(Y_pred_dt,Y_test)*100,2)
    if(current_accuracy>max_accuracy):
        max_accuracy = current_accuracy
        best_x = x
        
#print(max_accuracy)
#print(best_x)


dt = DecisionTreeClassifier(random_state=best_x)
dt.fit(X_train,Y_train)
Y_pred_dt = dt.predict(X_test)

In [ ]:
print(Y_pred_dt.shape)

In [ ]:
score_dt = round(accuracy_score(Y_pred_dt,Y_test)*100,2)

print("Decision Tree accuracy: "+str(score_dt)+" %")

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report 
cm = confusion_matrix(Y_test, Y_pred_dt) 
print("Confusion Matrix is:\n",cm)

conf_matrix = pd.DataFrame(data = cm,  
                           columns = ['Predicted:0', 'Predicted:1'],  
                           index =['Actual:0', 'Actual:1']) 
plt.figure(figsize = (10, 6)) 
plt.title("confusion matrix for DT")
sns.heatmap(conf_matrix, annot = True, fmt = 'd') 
plt.show()

## RANDOM FOREST

In [ ]:
from sklearn.ensemble import RandomForestClassifier

max_accuracy = 0



rf = RandomForestClassifier(n_estimators=1000,max_depth=9)
rf.fit(X_train,Y_train)
Y_pred_rf = rf.predict(X_test)
current_accuracy = round(accuracy_score(Y_pred_rf,Y_test)*100,2)


rf = RandomForestClassifier(random_state=best_x)
rf.fit(X_train,Y_train)
Y_pred_rf = rf.predict(X_test)

In [ ]:
Y_pred_rf.shape

In [ ]:
score_rf = round(accuracy_score(Y_pred_rf,Y_test)*100,2)

print("Random forest accuracy: "+str(score_rf)+" %")

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report 
cm = confusion_matrix(Y_test, Y_pred_rf) 
print("Confusion Matrix is:\n",cm)

conf_matrix = pd.DataFrame(data = cm,  
                           columns = ['Predicted:0', 'Predicted:1'],  
                           index =['Actual:0', 'Actual:1']) 
plt.figure(figsize = (10, 6)) 
plt.title("confusion matrix for RF")
sns.heatmap(conf_matrix, annot = True, fmt = 'd') 
plt.show()

## Classification report for each model

# comparsion of algorithms

In [ ]:
sns.set(rc={'figure.figsize':(15,8)})

sns.barplot(["Random Forest", "Decision Tree", "Logistic Regression", 
            "Naive Bayes", "K-Nearest Neighbors"],
            [score_rf, score_dt, score_lr, score_nb, score_knn])